<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="//www.agentc.io/"/>
  <meta property="og:site_name" content="AgentC"/>
  <meta property="og:image" content="//www.agentc.io/apple-touch-icon.png"/>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href='//fonts.googleapis.com/css?family=Chivo:900&text=AgentC.io' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/s/stylesheet.css" media="screen">
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABsklEQVQ4jcWTvcuxYRiHj5snRVFPvpKvAVmNBpRZSZkMBslfYLL5B/gPLCZM7pSBwoooJh+ljAYGC7cb9zPc8fasr7fec7qG8zyu33l0XYKiKAoflOaT4X8C+HodlsslzWYTgO/vb4rFIoIgAHC9Xmk0GkynU2RZxu/3k81mcTgcCC8H5XIZURTf5Ha7jdfr5Xa7USgUWC6Xv242m800m011BVmWGQ6HaqQvNVS/3weg0+m8hyuVCt1uF4/Hw/F4pN1uq4DxeMz5fMZkMpFIJH4BVquVKkujIR6P43A4yOVypNNp7Ha76uDVHA6HiUajiKLIZrNhv9/zeDwA3j4AUqkUqVRKTSzLMqPRCID5fM52u3039no9DAYDAM/nE1mW0el0VKtVWq0W6XQazSu+VqtFr9dzv98xGo3vNWKxGACKolAqlajVaoiiiCRJhEIhtG63u7xer4lEItTrdTKZDDabjcFgwOl0Ip/PY7Vamc1m7HY7JpMJkiSRTCbJ5XIIi8VCuVwuuFwunE4nAJfL5W3e5/NhsVg4HA4sFgskSSIQCBAMBhEE4c87+Nv6/3/hY8APhey+MZjM1rkAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
